h2{
	width: 500px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 10px; 
	border: solid 8px black;
	text-align: center;
	background-color: #291041; 
}

h2{
    color:#cc2424;
    font-size: 60px

}

body{
    color:#9A6DC7;
    font-size: 10px;
    font-family: Helvetica;
}

table{
    color:#F068B7;
}